@font-face {
  font-family: 'font-name';
  /*font 이름*/
  font-style: 'normal';
  /* font 스타일 정의 (기울임, 일반) */
  font-weight: 400;
  /* font 굵기 정의 */
  /* 브라우저&디바이스 환경에 따른 font 파일 위치 정의 */
  src: url(../font/YEONGDEOK\ HAEPARANG.TTF);
  /* IE9 Compat Modes */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

body {
  position: relative;
  min-height: 100vh;

}

/* header 태그 안에 CSS 속성 */
header {
  height: 70px;
  background-color: white;
  color: white;
  line-height: 70px;
  padding: 0px 30px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.nav-menu {
  margin-right: 10px;
}

.content-user-list h1 {
  text-align: center;
}

.container {
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/loginPicture.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-shrink: 1;
  opacity: 0.5;
}

.login-page {
  width: 360px;
  padding: 7% 0 0;
  margin: auto;
}

.login-page img {
  margin-bottom: 50px;
}

.form {

  position: relative;
  border-radius: 20%;
  z-index: 1;
  background: #ffffff;
  max-width: 350px;
  margin: 200px auto 100px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  margin: 0 0 15px;
  font-family: 'font-name';
  text-transform: uppercase;
  outline: 0;
  background: rgb(133, 179, 234);
  width: 100%;
  border: 0;
  padding: 15px;
  color: black;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
  background: #50a3a2;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: green;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  min-height: 100%;
  padding-bottom: 70px;
}

.content-user-list-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.list-item {
  margin: 10px;
}

.user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* footer 태그 안에 CSS 속성 */
footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(83, 148, 227);
  color: white;
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list a {
  margin: 0px 10px;
}